@import './reset.css';
@import './typography.css';
@import './variable.css';
@import './reuse.css';



body{
font-family: DMSans;
background-color: var(--bg-main);
}  



header.container{
display: flex;
justify-content: space-between;  
align-items: center;
padding-top: 16px;
padding-bottom: 16px;

}