:root {
    /* Neutral colors */
    --neutral-900: #12131A;
    --neutral-800: #21222C;
    --neutral-700: #2A2B37;
    --neutral-600: #404254;
    --neutral-200: #E4E4EF;
    --neutral-100: #F2F2F7;
    --neutral-0: #FFFFFF;
    
    /* Purple colors */
    --purple-400: #D3A0FA;
    --purple-500: #C27CF8;
    
    /* Yellow colors */
    --yellow-500: #FF9F00;
    
    /* Orange colors */
    --orange-500: #FE8159;
    --orange-800: #DA3701;

  --bg-main:var(--neutral-0);
  --bg-textarea:var(--neutral-100);
  --bg-theme-switcher:var(--neutral-100);
  --bg-border-main:var(--neutral-200);
  --bg-border-chackbox:var(--neutral-900);
  --bg-progress:var(--neutral-100);
  --bg-input-number:var(--neutral-0);  
  

  /* txt */
  --txt-cl-main:var(--neutral-900);
  --txt-cl-title:var(--neutral-900);
  --txt-cl-textarea:var(var(--neutral-700));
  --txt-empty-point:var(--neutral-600);

  /* other */
  --logo-img:url(../images/logo-light-theme.svg);
  --theme-img:url(../images/icon-moon.svg);
}

  html.dark{
  --bg-main:var(--neutral-900);
  --bg-textarea:var(--neutral-800);  
  --bg-theme-switcher:var(--neutral-700);
  --bg-border-main:var(--neutral-600);
  --bg-border-chackbox:var(--neutral-200);
  --bg-progress:var(--neutral-800);
  --bg-input-number:transparent;
  

  /* txt */
  --txt-cl-main:var(--neutral-200);
  --txt-cl-title:var(--neutral-100);
  --txt-cl-textarea:var(var(--neutral-200));
  --txt-empty-point:var(--neutral-200);

  /* other */
  --logo-img:url(../images/logo-dark-theme.svg);
  --theme-img:url(../images/icon-sun.svg);
}